[submodule "mutils-serialization"]
	path = third_party/mutils-serialization
	url = https://github.com/mpmilano/mutils-serialization.git
[submodule "mutils"]
	path = third_party/mutils
	url = https://github.com/mpmilano/mutils.git
