*~
*.csv
/derecho/experiments/script_copy.sh
/derecho/script_copy.sh
/TAGS
tags
/tcp/script_copy.sh
/derecho/experiments/latency_test
/derecho/subgroup_function_tester
Debug
Release
/derecho/TAGS
derecho/experiments/TAGS
sst/TAGS
sst/experiments/TAGS
Release_Debug_mix/
