[submodule "mutils-serialization"]
	path = third_party/mutils-serialization
	url = git@github.com:Derecho-Project/mutils-serialization.git
[submodule "mutils"]
	path = third_party/mutils
	url = https://github.com/mpmilano/mutils.git
[submodule "third_party/mutils-containers"]
	path = third_party/mutils-containers
	url = https://github.com/mpmilano/mutils-containers.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
