# configurations for objectstore.
# NOTICE please append this to derecho.cfg

[OBJECTSTORE]
# 'replicas' is a list of nodes (ids) which are in the replica subgroup. The
# node IDs are separated by comma(,). Hyphen is allowed for a range.
# Examples:
# replicas = 0,1,2
# replicas = 0-2,9-10,12,30,100-105
replicas = 0-2
# 'persisted' controls the persistence of the ObjectStore. Set it to 'true' if
# the data need to survive system restarts or failure. 
persisted = false
# 'logged' controls if the history is maintained. Set it to  'true' if access 
# to history is required. NOTE: 'logged' only works with 'persisted' = true. 
logged = false
